body {
    margin: 0;
    padding: 0;
    background-color: #1A1A1A;
    font-family: 'Rubik', sans-serif;
}

.btn {
    height: 12.5rem;
    width: 12.5rem;
}

#mainHeading {
    color: white;
    text-align: center;
    padding: 2rem;
    height: 2.1rem;
}

.levelContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background-color: #1A1A1A;
    color: white;
    position: absolute;
    z-index: 30;
    box-shadow: 0px 0px 29px 3px rgba(0,0,0,0.75);
    font-size: 1.5rem;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 80vh;

}

.topContainer {
    display: flex;
    gap: 20px;
}

#green {
    background-color: #65C755;
    border-radius: 5%;
    border-top-left-radius: 100%;
}

#red {
    background-color: #EC5142;
    border-radius: 5%;
    border-top-right-radius: 100%;
}

.redShadow {
    box-shadow: 0 0 5px #FFF,0 0 10px #FFF,0 0 15px #FFF,0 0 20px #FF4136,0 0 35px #FF4136,0 0 40px #FF4136,0 0 50px #FF4136,0 0 75px #FF4136;
}

.greenShadow {
    box-shadow: 0 0 5px #FFF,0 0 10px #FFF,0 0 15px #FFF,0 0 20px #65C755,0 0 35px #65C755,0 0 40px #65C755,0 0 50px #65C755,0 0 75px #65C755;    
}

.blueShadow {
    box-shadow: 0 0 5px #FFF,0 0 10px #FFF,0 0 15px #FFF,0 0 20px #0074D9,0 0 35px #0074D9,0 0 40px #0074D9,0 0 50px #0074D9,0 0 75px #0074D9;
}
.yellowShadow {
    box-shadow: 0 0 5px #FFF,0 0 10px #FFF,0 0 15px #FFF,0 0 20px #FFDC00,0 0 35px #FFDC00,0 0 40px #FFDC00,0 0 50px #FFDC00,0 0 75px #FFDC00;
}

.bottomContainer {
    display: flex;
    gap: 20px;
}

#yellow {
    background-color: #FFDC00;
    border-radius: 5%;
    border-bottom-left-radius: 100%;
}

#blue {
    background-color: #2D75D2;
    border-radius: 5%;
    border-bottom-right-radius: 100%;
}

